
.mainBody {
    background-color: #303030;
}

.subBody {
    background-color: #202020;
}
h1 {
    color: white;
    text-align: center;
}

/* */
.title-bar {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

#test {
	color: blue;
}
